@import '../../../_common/styles/common.scss';


#banner{
	width: 320px;
	height: 50px;
}

.frame1{
	// opacity: 1;
}

.logo{
	transform-origin: 560px 50px;
	@include pos-scale(-448, -25, 0.5);
	// @include pos-scale(-280, -25, 0.5);
}